<div>
    <form action="/" method="POST">

        <input type="radio" name="position" id="good" value="good" > Good 

        <input type="radio" name="position" id="evil" value="evil"> Evil 
        
        <br>
        <label for="food">Favorite Food</label>
        <input type="text" name="food" id="food">

        {{!--<label for="color">Favorite Color</label>
        <input type="dropdown" name="color" id="color">--}}


    </form>
</div>